{% extends 'feed/base.html'%}

{%block content%}

	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Hello {{ user.username }}!</h1>
			<p class="lead">This is Wrobel, simple twitter clone.</p>
			<hr class="my-4">
			<p>Click below to create a tweet</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{% url 'tweetCreate' %}" role="button">Create</a>
			</p>
		  </div>
	</div>	

	<div class ='container'>
	{% for tweet in object_list %}

		<br> <br>
		<div class="card">
			<div class="card-header">
				<a href="#"><h4>{{tweet.uname}}</h4></a>
				<p>{{tweet.datetime}}</p>
			</div>

			<div class="card-body">
				<p class="card-text"><h5>{{tweet.text}}</h5></p>

				{% if tweet.uname == user %}

					<a href="{% url 'tweetUpdate' tweet.id %}">
						<button class="btn btn-outline-info">
							Update
						</button>
					</a>

					<a href="{% url 'tweetDelete' tweet.id %}">
						<button class="btn btn-outline-danger">
							Delete
						</button>
					</a>

				{% endif %}
			</div>
		</div>

	{% endfor %}
	</div>
{%endblock content%}